<h1>Let's Test</h1>
<section id="url">
  Url of page to be tested: <input type="text">
</section>
<section class="spec">
  <form class="" action="index.html" method="post">
    Absolute URL of spec JS file: <input type="text">
  </form>

  or

  <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
</section>
<button id="submit">Test it!</button>
